<%- include('../partials/header.ejs')%>  
<main>
    <div class="items-container">
        <%if(items.length) {%>
            <% items.forEach(item => { %>
                <a href="/items/<%= item.id %>" class="item">
                    <img src="<%= item.image %>" alt="<%= item.title %>">
                    <h3><%= item.title %></h3>
                    <p class="condition"><%= item.condition %></p>
                    <p class="price">₹<%= item.price %></p>
                    <p class="offers"><%= item.offers %> offers</p>
                </a>
            <% });
        } else {%>
            <p>There are no items to display.</p>
        <%}%>
    </div>
</main>
    <%- include('../partials/footer.ejs')%>